pre, code, .rst-content tt, kbd, samp {font-size: 0.8em;}

table.docutils {font-size: 0.8em;}

details.note > div.admonition.note { margin-bottom: 0px; }
div.admonition.danger > ol { margin-bottom: 0px; }
div.admonition.reminder > ul { margin-bottom: 0px; }
div.admonition.important > p { margin-bottom: 0px; }
div.admonition.important > ul { margin-bottom: 0px; }
div.admonition.important > table { margin-bottom: 0px; }
div.admonition * ul, div.admonition * ol, div.admonition * p:not(.admonition-title) {font-size: 90% !important;}

.codehilite { line-height: 16px !important; }

div.reminder {
    padding: 12px;
    line-height: 24px !important;
    margin-bottom: 24px;
    background: #CCCCCC;
}

div.reminder > .admonition-title {
    color: #fff;
    font-weight: bold;
    display: block;
    color: #fff;
    background: #808080;
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

p { margin: 10px 10px 10px 10px; }
li > p { margin: 0px 0px 10px 0px; }

details {
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    background-color: #dddddd;
    background-color: #dddddd;
    border: solid 1px #e1e4e5;
    border-radius: 6px;
    box-shadow: 6px;
}
details * {font-size: 90% !important;}
details > summary {font-size: 100% !important;}

iframe.slideshow {
    position: relative;
    width: 100%;
    height: 75vh;
}

li.toctree-l1.current * a.current {padding: 0.4045em 1.618em !important;}
li.toctree-l2.current * a.current {padding: 0.4045em 2.427em !important;}

li.toctree-l1 {font-weight: bold !important;}
li.toctree-l1 div.toc-container {position: relative;}
li.toctree-l1 div.toc-container a {width: 100%;}
li.toctree-l1 div.toc-container a.collapse-navbar {
    display: inline-block;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 1001;
}

ul.subnav {margin-bottom: 15px;}

li.toctree-l2 {font-size: 92% !important;}

li.toctree-l3 {
    margin-top: 0px !important;
    font-size: 85% !important;
}
li.toctree-l3 > a:before {content: "\2023 \0020";}
li.toctree-l3 > a {
    width: 105%;
    padding: 5px 34px !important;
}

table {
    margin-left:auto; 
    margin-right:auto;
}
